#main {
  text-align: left;
  justify-items: auto;
}

.jobs h3 {
  color: rgba(34, 132, 193, 1);
  font-size: 3em;
  font-weight: bold;
  margin: 1em;
  text-decoration: underline;
}

#name {
  margin: 10px;
}

.jobs form {
  display: grid;
  grid-template-columns: repeat(2, 2fr) 1fr;
  align-items: flex-end;
  margin-bottom: 3.125rem;
}

.jobs label {
  font-size: 1.2em;
  color: rgba(34, 132, 193, .8);
}

@media only screen and (max-width: 700px) {
  .jobs form {
    display: flex;
    flex-direction: column;
  }

  .jobs .field {
    padding: .5em 0;
  }
}

.jobs form .button {
  margin-bottom: 15px;
}

.job-list {
  border-top: solid 1px hsla(0, 0%, 59%, 1);
}

.job {
  border-bottom: solid 1px hsla(0, 0%, 59%, 1);
  padding: 1rem 0;
}

.job h4 {
  padding-bottom: .5rem;
  font-size: 1.4em;
  line-height: 1.2;
  color: rgba(34, 132, 193, .8);
}

#see-all-jobs {
  justify-self: center;
  margin: 3em;
}
